**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/*.md
**/*.user
**/*.suo
Dockerfile*
.dockerignore
.gitignore
.env
*.db
*.log
*.tar
*.pfx
*.csproj.user
*.csproj.FileListAbsolute.txt
**/appsettings.Development.json
**/appsettings.*.json
